In [1]:
import pandas as pd
import env
import wrangle

In [2]:
df = pd.read_csv('anonymized-curriculum-access.txt', sep=" ")

In [3]:
df.head()

,2018-01-26,09:55:03,/,1,8,97.105.19.61
0,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
2,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
4,2018-01-26,09:56:41,javascript-i/loops,2,22.0,97.105.19.61

In [4]:
def acquire_logs(user=env.user, password=env.password, host=env.host):
    '''
    This function gathers curriculum_logs data from the 
    SQL codeup database and returns the information in a 
    pandas dataframe
    '''
    url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/curriculum_logs'
    query = '''
    select * from cohorts;
    '''
    df = pd.read_sql(query, url)
    df.to_csv('cohorts.csv')

In [5]:
# acquire_logs()

In [6]:
# df_2 = pd.read_csv('cohorts.csv')

In [7]:
# df_2 = df_2.drop(columns ='Unnamed: 0')

In [8]:
# df.info()

In [9]:
# df.loc[len(df.index)] = ['2018-01-26', '09:55:03', '/', 1, 8 , '97.105.19.61']
# df.columns = ['date', 'time', 'path', 'user_id', 'cohort_id', 'ip']
# df.tail()

In [10]:
# df_2

In [11]:
# df.head()

In [12]:
# df.shape

In [13]:
# df = df.merge(df_2, left_on='cohort_id', right_on='id')
# df

In [14]:
# df = df.drop(columns = 'id')

In [15]:
# df.deleted_at.value_counts()
# df = df.drop(columns = 'deleted_at')

In [16]:
# df.program_id.info()

In [17]:
# df.info()

In [18]:
# df.head()

In [19]:
# df['date'] = pd.to_datetime( df['date'])
# df['time'] = pd.to_datetime( df['time'])
# df['start_date'] = pd.to_datetime( df['start_date'])
# df['end_date'] = pd.to_datetime( df['end_date'])
# df['created_at'] = pd.to_datetime( df['created_at'])
# df['updated_at'] = pd.to_datetime( df['updated_at'])

In [20]:
df = wrangle.get_data()

In [21]:
df[['program_id','name']]

        program_id     name
0              1.0  Hampton
1              1.0  Hampton
2              1.0  Hampton
3              2.0    Teddy
4              2.0    Teddy
...            ...      ...
900218         2.0    Staff
900219         2.0    Staff
900220         2.0    Staff
900221         2.0    Staff
900222         1.0  Hampton

[900223 rows x 2 columns]

In [22]:
df.name.unique()

array(['Hampton', 'Teddy', 'Sequoia', 'Arches', 'Niagara', 'Pinnacles',
       'Quincy', nan, 'Kings', 'Lassen', 'Mammoth', 'Glacier', 'Denali',
       'Joshua', 'Olympic', 'Ulysses', 'Badlands', 'Apollo', 'Ike',
       'Voyageurs', 'Wrangell', 'Xanadu', 'Franklin', 'Yosemite', 'Staff',
       'Zion', 'Andromeda', 'Betelgeuse', 'Ceres', 'Bayes', 'Deimos',
       'Europa', 'Fortuna', 'Curie', 'Apex', 'Ganymede', 'Everglades',
       'Hyperion', 'Darden', 'Bash', 'Jupiter', 'Kalypso', 'Luna',
       'Easley', 'Marco', 'Neptune', 'Florence', 'Oberon'], dtype=object)

In [23]:
df.head()

,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id
0,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
2,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,1.0
3,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2.0
4,2018-01-26,09:56:41,javascript-i/loops,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,2.0

In [24]:
df.program_id = df.program_id.replace({1: 'full_stack_java_php'})

df.program_id = df.program_id.replace({2: 'full_stack_java_java'})


df.program_id = df.program_id.replace({3: 'datascience'})
df.program_id = df.program_id.replace({4: 'front_end_web_dev'})


# df[['name','program_id','user_id']][df.program_id == 1].groupby(df[['name', 'program_id']]).sum()

In [25]:
df.name

0         Hampton
1         Hampton
2         Hampton
3           Teddy
4           Teddy
           ...
900218      Staff
900219      Staff
900220      Staff
900221      Staff
900222    Hampton
Name: name, Length: 900223, dtype: object

In [26]:
df.end_date.value_counts().sort_values()

2015-02-24        1
2015-01-18        4
2015-07-29        5
2015-05-26       72
2014-08-22       93
2016-05-12      253
2016-06-30      302
2015-10-06      598
2017-02-02      691
2017-03-09      755
2017-09-22     1237
2021-10-01     1672
2016-02-06     1712
2017-07-20     2158
2016-09-15     2845
2017-05-25     4954
2018-02-15     7444
2014-04-22     8890
2016-11-10     9587
2021-09-03    15838
2021-07-19    16397
2021-01-21    17713
2019-04-03    20743
2020-07-07    21582
2021-05-04    23691
2019-07-30    25359
2018-11-29    25586
2020-01-30    26538
2019-02-08    27749
2020-04-17    28033
2018-07-19    28534
2019-10-08    29356
2020-11-10    29855
2018-05-17    30926
2021-06-08    31338
2021-01-12    32015
2020-02-27    32888
2020-07-29    33568
2020-08-20    33844
2018-10-11    35636
2020-06-23    36902
2021-03-30    37109
2019-06-04    38096
2019-12-11    40730
2014-02-04    84031
Name: end_date, dtype: int64

In [27]:
df.program_id.value_counts()

full_stack_java_java    713365
datascience             103412
full_stack_java_php      30548
front_end_web_dev            5
Name: program_id, dtype: int64

In [28]:
df.path.value_counts()

/                                                               50313
search/search_index.json                                        19519
javascript-i                                                    18983
toc                                                             18297
java-iii                                                        13733
                                                                ...
javascript/loops                                                    1
content/control-structures-ii                                       1
javascript-ii/promisesdfghjkjhgfs                                   1
app                                                                 1
appendix/professional-development/post-interview-review-form        1
Name: path, Length: 2313, dtype: int64

In [29]:
# pd.set_option('display.max_rows', None)
answer = df.groupby(by=["cohort_id", 'path']).sum()

/var/folders/9q/9mllqnsn2vq07btq58zw9zzc0000gn/T/ipykernel_86954/1871299795.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  answer = df.groupby(by=["cohort_id", 'path']).sum()

In [30]:
answer = answer.reset_index()
answer.cohort_id.unique()

array([  1.,   2.,   4.,   5.,   6.,   7.,   8.,   9.,  11.,  12.,  13.,
        14.,  15.,  16.,  17.,  18.,  19.,  21.,  22.,  23.,  24.,  25.,
        26.,  27.,  28.,  29.,  31.,  32.,  33.,  34.,  51.,  52.,  53.,
        55.,  56.,  57.,  58.,  59.,  61.,  62., 132., 133., 134., 135.,
       137., 138., 139.])

In [31]:
answer[['path', 'cohort_id', 'user_id']][answer.cohort_id == 1]

                                path  cohort_id  user_id
0                                  /        1.0    42115
1        0_Classification_Algorithms        1.0      248
2                    2.0_Intro_Stats        1.0      248
3               5.0_Intro_Regression        1.0      496
4               7.0_Intro_Clustering        1.0      496
..                               ...        ...      ...
337                     spring/setup        1.0     5127
338                         students        1.0      316
339  students/units/75/sub_units/268        1.0      212
340                              toc        1.0    14103
341        uploads/5762c2946250b.jpg        1.0       75

[342 rows x 3 columns]

In [32]:
df.cohort_id.value_counts()

28.0     84031
33.0     40730
29.0     38096
62.0     37109
53.0     36902
24.0     35636
57.0     33844
56.0     33568
51.0     32888
59.0     32015
22.0     30926
58.0     29855
32.0     29356
23.0     28534
52.0     28033
26.0     27749
34.0     26538
25.0     25586
31.0     25359
132.0    23691
55.0     21582
27.0     20743
61.0     17713
134.0    16623
135.0    16397
133.0    14715
14.0      9587
1.0       8890
137.0     8562
21.0      7444
138.0     7276
17.0      4954
13.0      2845
18.0      2158
8.0       1712
139.0     1672
19.0      1237
16.0       755
15.0       691
7.0        598
12.0       302
11.0       253
2.0         93
6.0         72
9.0          5
4.0          4
5.0          1
Name: cohort_id, dtype: int64

In [33]:
df.path = df.path.dropna()
df

,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id
0,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_java_php
1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_java_php
2,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_java_php
3,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,full_stack_java_java
4,2018-01-26,09:56:41,javascript-i/loops,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,full_stack_java_java
...,...,...,...,...,...,...,...,...,...,...,...,...
900218,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,full_stack_java_java
900219,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,full_stack_java_java
900220,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,full_stack_java_java
900221,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,full_stack_java_java
900222,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_java_php

In [34]:
df.program_id.value_counts()

full_stack_java_java    713365
datascience             103412
full_stack_java_php      30548
front_end_web_dev            5
Name: program_id, dtype: int64

In [35]:
program_1 = df[df.program_id == 'full_stack_java_php']
program_2 = df[df.program_id == 'full_stack_java_java']
program_3 = df[df.program_id == 'datascience']
program_4 = df[df.program_id == 'front_end_web_dev']


the_list = [program_1, program_2, program_3, program_4]

In [36]:
program_1[program_1.cohort_id == 5.0]

,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id
535517,2020-05-06,19:06:32,/,649,5.0,70.125.150.41,Everglades,2014-11-18,2015-02-24,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_java_php

In [50]:
list_of_most_viewed = []
# print(list(set(j.cohort_id)))

for j in the_list:
    for i in list(set(j.cohort_id)):
        
        answer = j.groupby(by=["cohort_id", 'path']).count()
        answer = answer.reset_index()
        answer.cohort_id.unique()
#         print(j.program_id.unique()[0])
        
        if j.program_id.unique()[0] == 'front_end_web_dev':
            answer = answer[answer.path.str.len() > 1]
            answer = answer[answer.path.str.contains('/')]
            answer = answer[answer.path.str.contains('.json') == False]
            answer = answer[answer.path != 'content/php_ii/command-line']
            answer = answer[answer.path != 'content/php_i']
            answer = answer[answer.path != 'html-css/elements']
            
            
#             print(answer.path)
            print()
#             print(answer)
#             print(answer[['path', 'cohort_id', 'user_id']][answer.cohort_id == i].sort_values(by ='user_id').tail(1))
            the_df = answer[['path', 'cohort_id', 'user_id']][answer.cohort_id == i].sort_values(by ='user_id').tail(1)
#             print(len(the_df.path.unique()))
            if len(the_df.path.unique()) == 1:
#                 print(the_df.path.iloc[0])
                list_of_most_viewed.append(the_df.path.iloc[0])

In [51]:
'content/php_ii/command-line'


list_of_most_viewed

['content/html-css']

In [52]:
the_dict = {}

for i in list_of_most_viewed:
    if i in the_dict:
        the_dict[i] += 1
    else:
        the_dict[i] = 1
max(the_dict.values())

for key, values in the_dict.items():
    if the_dict[key] == max(the_dict.values()):
        print(key)
        
the_dict

content/html-css

{'content/html-css': 1}

### 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [53]:
# 'full_stack_java_php' = [content/html-css ,content/laravel/intro]
# 'full_stack_java_java' = [mysql/tables]
# 'datascience' = [1-fundamentals/modern-data-scientist.jpg, classification/scale_features_or_not.svg, fundamentals/modern-data-scientist.jpg, 6-regression/1-overview, classification/overview]
# 'front_end_web_dev' = [content/html-css]

### 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

In [60]:
df.cohort_id.value_counts().index

Float64Index([ 28.0,  33.0,  29.0,  62.0,  53.0,  24.0,  57.0,  56.0,  51.0,
               59.0,  22.0,  58.0,  32.0,  23.0,  52.0,  26.0,  34.0,  25.0,
               31.0, 132.0,  55.0,  27.0,  61.0, 134.0, 135.0, 133.0,  14.0,
                1.0, 137.0,  21.0, 138.0,  17.0,  13.0,  18.0,   8.0, 139.0,
               19.0,  16.0,  15.0,   7.0,  12.0,  11.0,   2.0,   6.0,   9.0,
                4.0,   5.0],
             dtype='float64')

In [ ]:
# program_1 = df[df.program_id == 'full_stack_java_php']
# program_2 = df[df.program_id == 'full_stack_java_java']
# program_3 = df[df.program_id == 'datascience']
# program_4 = df[df.program_id == 'front_end_web_dev']


# the_list = [program_1, program_2, program_3, program_4]

In [54]:
list_of_most_viewed = []
# print(list(set(j.cohort_id)))

for j in the_list:
    for i in list(set(j.cohort_id)):
        
        answer = j.groupby(by=["cohort_id", 'path']).count()
        answer = answer.reset_index()
        answer.cohort_id.unique()
#         print(j.program_id.unique()[0])
        
        if j.program_id.unique()[0] == 'front_end_web_dev':
            answer = answer[answer.path.str.len() > 1]
            answer = answer[answer.path.str.contains('/')]
            answer = answer[answer.path.str.contains('.json') == False]
            answer = answer[answer.path != 'content/php_ii/command-line']
            answer = answer[answer.path != 'content/php_i']
            answer = answer[answer.path != 'html-css/elements']
            
            
#             print(answer.path)
            print()
#             print(answer)
#             print(answer[['path', 'cohort_id', 'user_id']][answer.cohort_id == i].sort_values(by ='user_id').tail(1))
            the_df = answer[['path', 'cohort_id', 'user_id']][answer.cohort_id == i].sort_values(by ='user_id').tail(1)
#             print(len(the_df.path.unique()))
            if len(the_df.path.unique()) == 1:
#                 print(the_df.path.iloc[0])
                list_of_most_viewed.append(the_df.path.iloc[0])

In [55]:
list_of_most_viewed

['content/html-css']

In [56]:
the_dict = {}

for i in list_of_most_viewed:
    if i in the_dict:
        the_dict[i] += 1
    else:
        the_dict[i] = 1
max(the_dict.values())

for key, values in the_dict.items():
    if the_dict[key] == max(the_dict.values()):
        print(key)
        
the_dict

content/html-css

{'content/html-css': 1}