In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('anonymized-curriculum-access.txt', sep=" ")

In [ ]:
def acquire_logs(user=env.user, password=env.password, host=env.host):
    '''
    This function gathers curriculum_logs data from the 
    SQL codeup database and returns the information in a 
    pandas dataframe
    '''
    url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/curriculum_logs'
    query = '''
    select * from cohorts;
    '''
    df = pd.read_sql(query, url)
    df.to_csv('cohorts.csv')

In [5]:
acquire_logs()

,2018-01-26,09:55:03,/,1,8,97.105.19.61
0,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
2,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
4,2018-01-26,09:56:41,javascript-i/loops,2,22.0,97.105.19.61
...,...,...,...,...,...,...
900217,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33
900218,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33
900219,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33
900220,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86
900221,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33