In [1]:
import pandas as pd
import env
import wrangle

In [2]:
# df = pd.read_csv('anonymized-curriculum-access.txt', sep=" ")

In [3]:
def acquire_logs(user=env.user, password=env.password, host=env.host):
    '''
    This function gathers curriculum_logs data from the 
    SQL codeup database and returns the information in a 
    pandas dataframe
    '''
    url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/curriculum_logs'
    query = '''
    select * from cohorts;
    '''
    df = pd.read_sql(query, url)
    df.to_csv('cohorts.csv')

In [4]:
# acquire_logs()

In [5]:
# df_2 = pd.read_csv('cohorts.csv')

In [6]:
# df_2 = df_2.drop(columns ='Unnamed: 0')

In [7]:
# df.info()

In [8]:
# df.loc[len(df.index)] = ['2018-01-26', '09:55:03', '/', 1, 8 , '97.105.19.61']
# df.columns = ['date', 'time', 'path', 'user_id', 'cohort_id', 'ip']
# df.tail()

In [9]:
# df_2

In [10]:
# df.head()

In [11]:
# df.shape

In [12]:
# df = df.merge(df_2, left_on='user_id', right_on='id')
# df

In [13]:
# df = df.drop(columns = 'id')

In [14]:
# df.deleted_at.value_counts()
# df = df.drop(columns = 'deleted_at')

In [15]:
# df.program_id.info()

In [16]:
# df.info()

In [17]:
# df.head()

In [18]:
# df['date'] = pd.to_datetime( df['date'])
# df['time'] = pd.to_datetime( df['time'])
# df['start_date'] = pd.to_datetime( df['start_date'])
# df['end_date'] = pd.to_datetime( df['end_date'])
# df['created_at'] = pd.to_datetime( df['created_at'])
# df['updated_at'] = pd.to_datetime( df['updated_at'])

In [19]:
df = wrangle.get_data()

In [20]:
df.program_id.value_counts()

1    37794
2    31980
3     2458
4     1507
Name: program_id, dtype: int64

In [21]:
df.path.value_counts()

/                                                                                                                                                                                                                                                                          5056
index.html                                                                                                                                                                                                                                                                 1520
javascript-i                                                                                                                                                                                                                                                               1486
spring                                                                                                                                                                                                                                                                     1401
java-iii                                                                                                                                                                                                                                                                   1237
                                                                                                                                                                                                                                                                           ...
hand                                                                                                                                                                                                                                                                          1
html-css/css-i/css-resets                                                                                                                                                                                                                                                     1
students/643/This%20alumnus%20works%20for%20Appdiction%20Studios,%20as%20of%20this%20timestamp.%20This%20company%20is%20launching%20a%20bootcamp%20program%20in%20competition.%20For%20this%20reason,%20curriculum%20access%20is%20disabled%20until%20further%20notice.       1
html-css/bootstrap-grid-system                                                                                                                                                                                                                                                1
content/appendix/further-reading/javascript/hoisting.html                                                                                                                                                                                                                     1
Name: path, Length: 1442, dtype: int64

In [22]:
# pd.set_option('display.max_rows', None)
answer = df.groupby(by=["cohort_id", 'path']).sum()

/var/folders/9q/9mllqnsn2vq07btq58zw9zzc0000gn/T/ipykernel_70333/1871299795.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  answer = df.groupby(by=["cohort_id", 'path']).sum()

In [23]:
answer = answer.reset_index()
answer.cohort_id.unique()

array([ 1.,  8., 13., 14., 16., 18., 21., 22., 23., 28.])

In [24]:
answer[['path', 'cohort_id', 'user_id']][answer.cohort_id == 1]

                             path  cohort_id  user_id
0                               /        1.0     6507
1                        appendix        1.0      658
2                appendix/angular        1.0       11
3      appendix/capstone-workbook        1.0      110
4          appendix/documentation        1.0       22
..                            ...        ...      ...
205  spring/fundamentals/services        1.0      187
206     spring/fundamentals/views        1.0      352
207                  spring/setup        1.0      253
208                           toc        1.0       66
209     uploads/5762c2946250b.jpg        1.0       11

[210 rows x 3 columns]

In [43]:
df.cohort_id.value_counts()

28.0    25097
22.0    23840
14.0     8401
23.0     5612
21.0     3413
1.0      3252
8.0      1617
13.0      592
18.0      474
16.0      107
Name: cohort_id, dtype: int64

In [39]:
program_1.cohort_id.value_counts()

28.0    20965
22.0    12302
1.0      2735
8.0      1617
21.0      175
Name: cohort_id, dtype: int64

In [40]:
program_2.cohort_id.value_counts()

22.0    9047
14.0    8401
23.0    5207
28.0    4132
21.0    2221
13.0     592
1.0      517
18.0     474
16.0     107
Name: cohort_id, dtype: int64

In [41]:
program_3.cohort_id.value_counts()

22.0    1906
23.0     405
21.0      95
Name: cohort_id, dtype: int64

In [42]:
program_4.cohort_id.value_counts()

21.0    922
22.0    585
Name: cohort_id, dtype: int64

In [45]:
df.program_id.value_counts()

1    37794
2    31980
3     2458
4     1507
Name: program_id, dtype: int64

In [25]:
df.program_id.value_counts()
program_1 = df[df.program_id == 1]
program_2 = df[df.program_id == 2]
program_3 = df[df.program_id == 3]
program_4 = df[df.program_id == 4]
the_list = [program_1,program_2,program_3,program_4]

answer = df.groupby(by=["cohort_id", 'path']).sum()
answer = answer.reset_index()
answer.cohort_id.unique()

/var/folders/9q/9mllqnsn2vq07btq58zw9zzc0000gn/T/ipykernel_70333/2339016063.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  answer = df.groupby(by=["cohort_id", 'path']).sum()

array([ 1.,  8., 13., 14., 16., 18., 21., 22., 23., 28.])

In [48]:
for j in the_list:
    for i in j.cohort_id.unique():
        answer = j.groupby(by=["cohort_id", 'path']).count()
        answer = answer.reset_index()
        answer.cohort_id.unique()
        if j.program_id.mean() == 1:
            print('program id', j.program_id.mean())
            print()
            print(answer[['path', 'cohort_id', 'user_id']][answer.cohort_id == i].sort_values(by ='user_id').tail(10))

program id 1.0

                  path  cohort_id  user_id
384              mysql        8.0       29
363      javascript-ii        8.0       30
341  java-iii/servlets        8.0       30
345       javascript-i        8.0       35
435             spring        8.0       41
316             java-i        8.0       43
324            java-ii        8.0       44
334           java-iii        8.0       55
216           appendix        8.0       55
209                  /        8.0      202
program id 1.0

                                                   path  cohort_id  user_id
850                1-fundamentals/AI-ML-DL-timeline.jpg       28.0      303
852            1-fundamentals/modern-data-scientist.jpg       28.0      305
870   10-anomaly-detection/AnomalyDetectionCartoon.jpeg       28.0      410
858                     10-anomaly-detection/1-overview       28.0      410
1810                           search/search_index.json       28.0      412
1545           classification/scale_features_or_not.svg       28.0      441
1216                            6-regression/1-overview       28.0      489
1851                                 sql/mysql-overview       28.0      554
1541                            classification/overview       28.0      584
826                                                   /       28.0     2286
program id 1.0

                       path  cohort_id  user_id
721  javascript-i/functions       22.0      189
734           javascript-ii       22.0      229
742                  jquery       22.0      237
810                  spring       22.0      249
758                   mysql       22.0      255
683                  java-i       22.0      258
690                 java-ii       22.0      264
711            javascript-i       22.0      278
701                java-iii       22.0      314
521                       /       22.0      787
program id 1.0

                   path  cohort_id  user_id
118  javascript-i/loops        1.0       42
90             java-iii        1.0       49
74               java-i        1.0       54
129              jquery        1.0       54
192              spring        1.0       72
121       javascript-ii        1.0       84
81              java-ii        1.0       85
60             html-css        1.0      104
100        javascript-i        1.0      150
0                     /        1.0      237
program id 1.0

                                            path  cohort_id  user_id
458                                     appendix       21.0        7
518  spring/fundamentals/security/authentication       21.0        7
519                 spring/fundamentals/services       21.0        8
515            spring/fundamentals/relationships       21.0        8
516             spring/fundamentals/repositories       21.0        8
509                                       spring       21.0        9
514       spring/fundamentals/form-model-binding       21.0        9
513              spring/fundamentals/controllers       21.0       11
520                    spring/fundamentals/views       21.0       11
494                     mkdocs/search_index.json       21.0       12