In [1]:
import pandas as pd
import env

In [2]:
df = pd.read_csv('anonymized-curriculum-access.txt', sep=" ")

In [3]:
# def acquire_logs(user=env.user, password=env.password, host=env.host):
#     '''
#     This function gathers curriculum_logs data from the 
#     SQL codeup database and returns the information in a 
#     pandas dataframe
#     '''
#     url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/curriculum_logs'
#     query = '''
#     select * from cohorts;
#     '''
#     df = pd.read_sql(query, url)
#     df.to_csv('cohorts.csv')

In [4]:
# acquire_logs()

In [5]:
df_2 = pd.read_csv('cohorts.csv')

In [6]:
df_2 = df_2.drop(columns ='Unnamed: 0')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900222 entries, 0 to 900221
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   2018-01-26    900222 non-null  object
 1   09:55:03      900222 non-null  object
 2   /             900221 non-null  object
 3   1             900222 non-null  int64
 4   8             847329 non-null  float64
 5   97.105.19.61  900222 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 41.2+ MB

In [17]:
df.loc[len(df.index)] = ['2018-01-26', '09:55:03', '/', 1, 8 , '97.105.19.61']
df.columns = ['date', 'time', 'path', 'user_id', 'cohort_id', 'ip']
df.tail()

,date,time,path,user_id,cohort_id,ip
900218,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33
900219,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33
900220,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86
900221,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33
900222,2018-01-26,09:55:03,/,1,8.0,97.105.19.61

In [15]:
df_2

,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
0,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
1,2,Badlands,#badlands,2014-06-04,2014-08-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
2,3,Carlsbad,#carlsbad,2014-09-04,2014-11-05,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
3,4,Denali,#denali,2014-10-20,2015-01-18,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
4,5,Everglades,#everglades,2014-11-18,2015-02-24,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
5,6,Franklin,#franklin,2015-02-03,2015-05-26,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
6,7,Glacier,#glacier,2015-06-05,2015-10-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
7,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
8,9,Apollo,#apollo,2015-03-30,2015-07-29,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,4
9,10,Balboa,#balboa,2015-11-03,2016-03-11,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,4
10,11,Ike,#ike,2016-01-20,2016-05-12,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
11,12,Joshua,#joshua,2016-03-08,2016-06-30,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
12,13,Kings,#kings,2016-05-23,2016-09-15,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
13,14,Lassen,#lassen,2016-07-18,2016-11-10,2016-07-18 19:06:27,2016-07-18 19:06:27,NaN,1
14,15,Mammoth,#mammoth,2016-09-26,2017-02-02,2016-09-26 15:58:53,2016-09-26 15:58:53,NaN,2
15,16,Niagara,#niagara,2016-10-26,2017-03-09,2016-10-26 02:34:05,2016-10-26 14:30:19,NaN,2
16,17,Olympic,#olympic,2017-02-06,2017-05-25,2017-02-06 17:49:10,2017-02-06 17:49:10,NaN,1
17,18,Pinnacles,#pinnacles,2017-03-27,2017-07-20,2017-03-28 00:33:12,2017-03-28 00:33:12,NaN,2
18,19,Quincy,#quincy,2017-06-05,2017-09-22,2017-06-05 20:12:10,2017-06-05 20:12:10,NaN,1
19,20,Redwood,#redwood,2017-07-31,2017-12-06,2017-07-31 19:34:11,2017-08-08 21:59:33,NaN,2
20,21,Sequoia,#sequoia,2017-09-27,2018-02-15,2017-09-27 20:22:41,2017-09-27 20:22:41,NaN,2
21,22,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2
22,23,Ulysses,#ulysses,2018-03-05,2018-07-19,2018-03-05 14:22:11,2018-03-05 14:22:11,NaN,2
23,24,Voyageurs,#voyageurs,2018-05-29,2018-10-11,2018-05-25 22:25:57,2018-05-25 22:25:57,NaN,2
24,25,Wrangell,#wrangell,2018-07-23,2018-11-29,2018-07-23 15:02:25,2018-07-23 15:02:25,NaN,2
25,26,Xanadu,#xanadu,2018-09-17,2019-02-08,2018-09-17 19:09:51,2018-09-17 19:09:51,NaN,2
26,27,Yosemite,#yosemite,2018-11-05,2019-04-03,2018-11-05 15:26:37,2018-11-05 15:26:37,NaN,2
27,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2
28,29,Zion,#zion,2019-01-22,2019-06-04,2019-01-20 23:18:57,2019-01-20 23:18:57,NaN,2
29,30,Ada,#ada,2019-02-04,2019-06-16,2019-02-04 20:13:32,2019-02-04 20:13:32,NaN,3
30,31,Andromeda,#andromeda,2019-03-18,2019-07-30,2019-03-18 20:35:06,2019-03-18 20:35:06,NaN,2
31,32,Betelgeuse,#betelgeuse,2019-05-28,2019-10-08,2019-05-28 18:41:05,2019-05-28 18:41:05,NaN,2
32,33,Ceres,#ceres,2019-07-15,2019-12-11,2019-07-15 16:57:21,2019-07-15 16:57:21,NaN,2
33,34,Bayes,#,2019-08-19,2020-01-30,2019-08-20 14:38:55,2019-08-20 14:38:55,NaN,3
34,51,Deimos,#deimos,2019-09-16,2020-02-27,2019-09-16 13:07:04,2019-09-16 13:07:04,NaN,2
35,52,Europa,#europa,2019-11-04,2020-04-17,2019-11-04 18:27:07,2019-11-04 18:27:07,NaN,2
36,53,Fortuna,#fortuna,2020-01-13,2020-06-23,2020-01-13 21:17:08,2020-01-13 21:17:08,NaN,2
37,55,Curie,#curie,2020-02-03,2020-07-07,2020-02-03 19:31:51,2020-02-03 19:31:51,NaN,3
38,56,Apex,#apex,2020-02-24,2020-07-29,2020-02-24 15:39:33,2020-07-29 18:41:13,NaN,2
39,57,Ganymede,#ganymede,2020-03-23,2020-08-20,2020-03-23 17:52:16,2020-03-23 17:52:16,NaN,2
40,58,Hyperion,#hyperion,2020-05-26,2020-11-10,2020-05-26 19:22:44,2020-05-26 19:22:44,NaN,2
41,59,Darden,#darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,NaN,3
42,60,Io,#io,2020-07-20,2021-01-21,2020-07-20 13:24:55,2020-09-30 15:54:53,NaN,2
43,61,Bash,#bash,2020-07-20,2021-01-21,2020-07-20 19:04:00,2020-09-30 15:54:46,NaN,2
44,62,Jupiter,#jupiter,2020-09-21,2021-03-30,2020-09-21 18:06:27,2020-09-21 18:06:27,NaN,2
45,132,Kalypso,#kalypso,2020-11-02,2021-05-04,2020-11-02 20:43:58,2020-11-02 20:43:58,NaN,2
46,133,Easley,#easley,2020-12-07,2021-06-08,2020-12-07 15:20:18,2020-12-07 15:20:18,NaN,3
47,134,Luna,#luna,2020-12-07,2021-06-08,2020-12-07 16:58:43,2020-12-07 16:58:43,NaN,2
48,135,Marco,#marco,2021-01-25,2021-07-19,2021-01-20 21:31:11,2021-01-20 21:31:11,NaN,2
49,136,Placeholder for students in transition,#null,2021-03-03,2029-03-01,2021-03-03 21:50:49,2021-03-03 21:52:56,NaN,2
50,137,Florence,#florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,NaN,3
51,138,Neptune,#neptune,2021-03-15,2021-09-03,2021-03-15 19:57:09,2021-03-15 19:57:09,NaN,2
52,139,Oberon,#oberon,2021-04-12,2021-10-01,2021-04-12 18:07:21,2021-04-12 18:07:21,NaN,2

In [19]:
df.head()

,date,time,path,user_id,cohort_id,ip
0,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
2,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
4,2018-01-26,09:56:41,javascript-i/loops,2,22.0,97.105.19.61

In [21]:
df = df.merge(df_2, left_on='user_id', right_on='id').head()
df.

,date,time,path,user_id,cohort_id,ip,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
0,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
2,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
3,2018-01-26,10:40:15,javascript-i/functions,1,8.0,97.105.19.61,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
4,2018-01-26,11:26:13,java-i,1,8.0,97.105.19.61,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1