# Project Goal
> ## To answer 5 of the 7 questions

# Initial Hypothesis
> ## I believe we will not have enough time to come to an accurate conclusion

# Imports

In [1]:
# list of my imports
import pandas as pd
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import wrangle
import seaborn as sns
import matplotlib.pyplot as plt
import env
import wrangle
pd.set_option('display.width', 1000)

# Acquire
- Data acuired from the SQL database
- Each row represents a unique login

# Prepare 

- There are 900223 rows and 12 columns
- converted columns that were objects that contained dates to datetime columns
- We removed the null values from the path column
- Verified datatypes

In [2]:
df = wrangle.get_data()

In [3]:
df.head()

        date      time                                 path  user_id  cohort_id            ip     name start_date   end_date          created_at          updated_at            program_id
0 2018-01-26  09:56:02                              java-ii        1        8.0  97.105.19.61  Hampton 2015-09-22 2016-02-06 2016-06-14 19:52:26 2016-06-14 19:52:26   full_stack_java_php
1 2018-01-26  09:56:05  java-ii/object-oriented-programming        1        8.0  97.105.19.61  Hampton 2015-09-22 2016-02-06 2016-06-14 19:52:26 2016-06-14 19:52:26   full_stack_java_php
2 2018-01-26  09:56:06   slides/object_oriented_programming        1        8.0  97.105.19.61  Hampton 2015-09-22 2016-02-06 2016-06-14 19:52:26 2016-06-14 19:52:26   full_stack_java_php
3 2018-01-26  09:56:24            javascript-i/conditionals        2       22.0  97.105.19.61    Teddy 2018-01-08 2018-05-17 2018-01-08 13:59:10 2018-01-08 13:59:10  full_stack_java_java
4 2018-01-26  09:56:41                   javascript-i/loops        2       22.0  97.105.19.61    Teddy 2018-01-08 2018-05-17 2018-01-08 13:59:10 2018-01-08 13:59:10  full_stack_java_java

In [4]:
df.describe().T

              count        mean         std  min    25%    50%    75%    max
user_id    900223.0  458.825707  249.296767  1.0  269.0  475.0  660.0  981.0
cohort_id  847330.0   48.501049   32.795482  1.0   28.0   33.0   57.0  139.0

### 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

### Full_stack_java_php : content/html-css and content/laravel/intro

### Full_stack_java_java : mysql/tables

### Datascience : 1-fundamentals/modern-data-scientist.jpg, classification/scale_features_or_not.svg, fundamentals/modern-data-scientist.jpg, 6-regression/1-overview, classification/overview

### Front_end_web_dev : content/html-css

In [5]:
wrangle.question_one(df)

                program                                               page
0   full_stack_java_php      ['content/html-css', 'content/laravel/intro']
0  full_stack_java_java                                   ['mysql/tables']
0           datascience  ['1-fundamentals/modern-data-scientist.jpg', '...
0     front_end_web_dev                               ['content/html-css']

### 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

### full_stack_java_php : cohort 14 : spring/fundamentals/repositories

### full_stack_java_java:  cohort 28 :  jquery/ajax/weather-map

### datascience: cohort 59 : classification/overview

### Front_end_web_dev : only had one cohort

In [6]:
wrangle.question_two(df)

                                  path  cohort_id  user_id  cohort               program
1888  spring/fundamentals/repositories       14.0      115  Lassen   full_stack_java_php
4506           jquery/ajax/weather-map       28.0     1050   Staff  full_stack_java_java
1169           classification/overview       59.0     1109  Darden           datascience

# 7. Which lessons are least accessed?

### Front_end_web_dev : content/html-css/gitbook/images/favicon.ico

### Datascience : Tie across multiple pages

### Full_stack_java_java : appendix/angular

### Full_stack_java_php: prework/databases and spring/setup

In [7]:
wrangle.question_three(df)

                program                                               page
0   full_stack_java_php              ['prework/databases', 'spring/setup']
0  full_stack_java_java                               ['appendix/angular']
0           datascience  ['fundamentals/diagram-of-ds-pipeline-fraud-ex...
0     front_end_web_dev    ['content/html-css/gitbook/images/favicon.ico']

# Conclusion
> There was not sufficent time to evaluate the different file path names to determine if they were a lesson make this sound better

# Recommendations
> Implement an automated file path analysis tool
> Collaborate with subject matter experts

# Next Steps
> * Reach out to subject matter experts who possess knowledge of the curriculum or lesson content. Share the file path names with them and seek their input in identifying any patterns, keywords, or indicators of lesson relevance.
 
> * Explore existing automated tools or scripts that can assist in analyzing file path names. Research the available options, select the most suitable tool for your needs, and implement it within your evaluation process. Test the tool's effectiveness and fine-tune its parameters if necessary.