# Project Goal
> ## To answer 5 of the 7 questions

# Initial Hypothesis
> ## I believe we will not have enough time to come to an accurate conclusion

# Imports

In [1]:
# list of my imports
import pandas as pd
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import wrangle
import seaborn as sns
import matplotlib.pyplot as plt
import env
import wrangle

# Acquire
- Data acuired from the SQL database
- Each row represents a unique login

# Prepare 

- There are 900223 rows and 12 columns
- converted columns that were objects that contained dates to datetime columns
- We removed the null values from the path column
- Verified datatypes

In [2]:
df = wrangle.get_data()

In [3]:
df.head()

,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,updated_at,program_id
0,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_java_php
1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_java_php
2,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_java_php
3,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,full_stack_java_java
4,2018-01-26,09:56:41,javascript-i/loops,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,full_stack_java_java

In [4]:
df.describe().T

              count        mean         std  min    25%    50%    75%    max
user_id    900223.0  458.825707  249.296767  1.0  269.0  475.0  660.0  981.0
cohort_id  847330.0   48.501049   32.795482  1.0   28.0   33.0   57.0  139.0

### 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

### for the full_stack_java_php the pages with the most traffic were content/html-css and content/laravel/intro

### for the full_stack_java_java the page with the most traffic were mysql/tables

### datascience the pages with the most traffic were 1-fundamentals/modern-data-scientist.jpg, classification/scale_features_or_not.svg, fundamentals/modern-data-scientist.jpg, 6-regression/1-overview, classification/overview

### for front_end_web_dev the page with the most traffic was content/html-css

In [5]:
wrangle.question_one(df)

full_stack_java_php ['content/html-css', 'content/laravel/intro']

full_stack_java_java ['mysql/tables']

datascience ['1-fundamentals/modern-data-scientist.jpg', 'classification/scale_features_or_not.svg', 'fundamentals/modern-data-scientist.jpg', '6-regression/1-overview', 'classification/overview']

front_end_web_dev ['content/html-css']

### 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

### for cohort ' ',  program full_stack_java_php

### for cohort ' ', full_stack_java_java 

### for cohort ' ', datascience

### for front_end_web_dev there was only one cohort so you can't anwer this question for this catagory

### given more time we would be able to evaluate more of the different file path names to determine if they were a lesson

In [6]:
wrangle.question_two(df)

stack_java_php
                                  path  cohort_id  user_id
1888  spring/fundamentals/repositories       14.0      115
332   spring/fundamentals/repositories        1.0       75
843   spring/fundamentals/repositories        8.0       22
2274  spring/fundamentals/repositories       17.0        5

full_stack_java_java
                         path  cohort_id  user_id
4506  jquery/ajax/weather-map       28.0     1050
5676  jquery/ajax/weather-map       32.0      247
4980  jquery/ajax/weather-map       29.0      239
5994  jquery/ajax/weather-map       33.0      226
7068  jquery/ajax/weather-map       56.0      207

datascience
                         path  cohort_id  user_id
1169  classification/overview       59.0     1109
1448  classification/overview      133.0      445
789   classification/overview       55.0      136
1643  classification/overview      137.0       60
337   classification/overview       34.0       35

# 7. Which lessons are least accessed?

### for front_end_web_dev, 'content/html-css/gitbook/images/favicon.ico' was the least viewed

### for datascience, there was a tie across different pages that were least viewed

### for full_stack_java_java, appendix/angular was the least viewed

### for full_stack_java_php, prework/databases and spring/setup were the least viewed pages

In [7]:
wrangle.question_three(df)

# Conclusion
> There was not sufficent time to evaluate the different file path names to determine if they were a lesson or not

# Next Steps
> * Get more general information on the columns
> * Get more information on the actual lesson paths